@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


//colors
$intro-background-color: hsl(217, 28%, 15%); //background for intro & email
$main-background-color: hsl(218, 28%, 13%);
$footer-background-color: hsl(216, 53%, 9%);
$testimonials-background-color: hsl(219, 30%, 18%);
$call-to-action-gradient: linear-gradient(to right, #65e2d9, #49d2da, #33c1d8, #2bb0d4, #339ecc);
$error-light-red: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

//fonts
$header-font: 'Raleway',
sans-serif; //headings, call-to-actions, Header,navigation
$body-font: 'Open Sans',
sans-serif;

//media query screen sizes
$media-desktop: "only screen and (min-width : 1024px)";
$media-mobile: "only screen and (max-width : 480px)";

* {
    box-sizing: border-box;
    margin: 0;
}



html, body {
    font-size: 14px;
    background: $intro-background-color;
    color: $white;
    font-family: $body-font;
}

// navigation bar
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $header-font;
    font-weight: 400;
    white-space: nowrap;
    width: 100%;
    padding: 25px 60px 10px 60px;

    ul {
        list-style-type: none;
        display: flex;
    }

    li {
        margin-right: 35px;
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
   }
}


//media query desktop
@media #{$media-desktop} {
 
}


//media query mobile
@media #{$media-mobile} {
    .nav-bar {
        padding: 25px 30px 10px 30px;


        img {
            width: 110px;
        }

        li {
            margin-right: 10px;
        }
    }
}


