@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-size: 14px;
  background: #1c2431;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  white-space: nowrap;
  width: 100%;
  padding: 25px 60px 10px 60px;
  margin-bottom: 10%;
}

.nav-bar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar li {
  margin-right: 35px;
}

.nav-bar a,
.nav-bar a:hover,
.nav-bar a:focus,
.nav-bar a:active {
  text-decoration: none;
  color: inherit;
}

.intro-section {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 12%;
}

.intro-section .intro-img-container {
  margin-bottom: 50px;
  z-index: 1;
}

.intro-section .intro-text-container {
  width: 100%;
  z-index: 1;
}

.intro-section .intro-text-container .intro-statement {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 40px;
}

.intro-section .intro-header {
  margin-bottom: 50px;
}

.call-to-action-button {
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), color-stop(#49d2da), color-stop(#33c1d8), color-stop(#2bb0d4), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #49d2da, #33c1d8, #2bb0d4, #339ecc);
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 40px;
}

.call-to-action-button:hover {
  background: #65e2d9;
}

.button-get-started {
  padding: 20px 75px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.main-body-container {
  background: #181f2a;
  padding-top: 50px;
  padding-bottom: 10%;
  position: relative;
}

.main-body-container .features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 10%;
}

.main-body-container .feature-card {
  text-align: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 25px 20px;
}

.main-body-container .feature-card .feature-card-img-container {
  height: 80px;
}

.main-body-container .feature-card h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.main-body-container .feature-card p {
  font-size: 1.1rem;
  margin: 0 auto;
  width: 65%;
}

.main-body-container .stay-productive-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 10%;
}

.main-body-container .stay-productive-img-container {
  width: 40%;
}

.main-body-container .stay-productive-text-container {
  width: 40%;
}

.main-body-container .stay-productive-text-container h2 {
  width: 70%;
  margin-bottom: 20px;
}

.main-body-container .stay-productive-text-container p {
  font-size: 1.2rem;
  width: 90%;
  margin-bottom: 20px;
}

.main-body-container .stay-productive-text-container a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.main-body-container .stay-productive-text-container a div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
  color: #65e2d9;
  border-bottom: 2px solid #65e2d9;
}

.main-body-container .stay-productive-text-container a div span {
  margin-right: 10px;
}

.main-body-container .stay-productive-text-container a div:hover {
  color: white !important;
  border-bottom: 2px solid white;
}

.main-body-container .stay-productive-text-container a div:hover img {
  color: #65e2d9 !important;
  fill: white !important;
}

.main-body-container .testimonial-section::before {
  content: url(../images/bg-quotes.png);
  position: absolute;
  bottom: 25.5%;
  left: 5.7%;
}

.main-body-container .testimonial-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 10%;
}

.main-body-container .testimonial-section .testimonial-card {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  background: #1c2431;
  width: 25%;
  padding: 30px 15px 15px 15px;
  -webkit-box-shadow: -3px -9px 40px -127px #080808;
          box-shadow: -3px -9px 40px -127px #080808;
  border-radius: 5px;
}

.main-body-container .testimonial-section .testimonial-card .testimonial {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.main-body-container .testimonial-section .testimonial-card .testimonial-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-body-container .testimonial-section .testimonial-card .profile-pic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-body-container .testimonial-section .testimonial-card .profile-pic-container img {
  width: 2.5rem;
  border-radius: 50%;
  margin-right: 7px;
}

.main-body-container .testimonial-section .testimonial-card .profile-pic-container .profile-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}

.main-body-container .testimonial-section .testimonial-card-1 {
  position: relative;
  z-index: 3;
}

.call-to-action-card-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -6%;
}

.call-to-action-card-container .call-to-action-card {
  background: #1c2431;
  width: 60%;
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
  border-radius: 5px;
  -webkit-box-shadow: -3px -9px 40px -127px #080808;
          box-shadow: -3px -9px 40px -127px #080808;
}

.call-to-action-card-container .call-to-action-card .call-to-action-header {
  margin-bottom: 20px;
}

.call-to-action-card-container .call-to-action-card p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.call-to-action-card-container .call-to-action-card input {
  width: 60%;
  outline: none;
  border: none;
  padding: 13px 25px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-right: 20px;
}

.call-to-action-card-container .call-to-action-card .get-started-free-button {
  padding: 15px 25px;
  font-size: 0.8rem;
}

.main-body-container::before {
  content: url(../images/bg-curvy-desktop.svg);
  position: absolute;
  right: 0;
  bottom: 98%;
  z-index: 0;
}

footer {
  background: #0b1523;
  padding-top: 12%;
  padding-bottom: 70px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 1.2rem;
}

footer .footer-logo-container {
  margin-bottom: 30px;
}

footer .contact-info-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
}

footer .address img {
  width: 13px;
  height: 18px;
  margin-right: 10px;
  margin-top: 5px;
}

footer .contacts .phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contacts .phone-number img {
  margin-right: 10px;
}

footer .contacts .email-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .contacts .email-address img {
  width: 20px;
  height: 16px;
  margin-top: 5px;
  margin-right: 10px;
}

footer .sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .sitemap li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-media .social-media-icon-container {
  width: 40px;
  height: 40px;
  margin-right: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
}

footer .social-media .facebook {
  padding-top: 9px;
  padding-left: 11px;
}

footer .social-media .twitter {
  padding-top: 9px;
  padding-left: 10px;
}

footer .social-media .instagram {
  padding-top: 7px;
  padding-left: 8.5px;
}

footer .social-media .twitter-icon {
  width: 1.5rem;
  top: 50%;
}

footer .social-media .instagram-icon {
  width: 1.5rem;
}

footer .social-media .facebook-icon {
  width: 0.9rem;
}

@media only screen and (max-width: 480px) {
  .nav-bar {
    margin-bottom: 20%;
    padding: 25px 30px 10px 30px;
  }
  .nav-bar img {
    width: 110px;
  }
  .nav-bar li {
    margin-right: 10px;
  }
  .intro-section {
    width: 80%;
  }
  .intro-section img {
    width: 100%;
  }
  .intro-section .intro-header {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  .intro-section .intro-text-container .intro-statement {
    width: 100%;
    font-size: 0.9rem;
  }
  .main-body-container {
    padding-bottom: 50%;
  }
  .main-body-container .feature-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
  .main-body-container .feature-card h4 {
    font-size: 1.4rem;
  }
  .main-body-container .feature-card p {
    width: 100%;
    font-size: 1.1rem;
  }
  .main-body-container .stay-productive-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .main-body-container .stay-productive-section .stay-productive-img-container {
    width: 100%;
    margin-bottom: 40px;
  }
  .main-body-container .stay-productive-section .stay-productive-img-container img {
    width: 100%;
  }
  .main-body-container .stay-productive-section .stay-productive-text-container {
    width: 100%;
  }
  .main-body-container .stay-productive-section .stay-productive-text-container h2 {
    width: 100%;
    font-size: 1.3rem;
  }
  .main-body-container .testimonial-section::before {
    bottom: 34%;
    left: 14%;
  }
  .main-body-container .testimonial-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    margin-bottom: 10%;
    padding-top: 30%;
  }
  .main-body-container .testimonial-section .testimonial-card {
    width: 75%;
    margin-bottom: 40px;
  }
  .call-to-action-card-container .call-to-action-card {
    width: 85%;
    padding: 25px 10px;
  }
  .call-to-action-card-container .call-to-action-card p {
    font-size: 1.1rem;
  }
  .call-to-action-card-container .call-to-action-card input {
    width: 100%;
    margin-bottom: 10px;
  }
  .call-to-action-card-container .call-to-action-card .get-started-free-button {
    width: 100%;
  }
  .call-to-action-card-container h2 {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  .main-body-container::before {
    content: url(../images/bg-curvy-mobile.svg);
    position: absolute;
    right: 0;
    bottom: 99%;
    z-index: 0;
  }
  .contact-info-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    padding-top: 65%;
    padding-right: 35px;
    padding-left: 35px;
  }
  footer .address {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .contacts {
    margin-bottom: 40px;
  }
  footer .sitemap {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .sitemap .sitemap-section-1 {
    margin-bottom: 40px;
  }
  footer ul {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */